<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">
      <div class="aside">
        <div class="logo-and-nav">
          <a href="#" class="logo-img">
            <img src="assets/images/logo-ANSWER.svg" alt="logo-img">
          </a>
          <ul class="nav flex-column">
            <li class="d-flex align-items-center flex-row-reverse nav__item nav--hover">
              <a class="nav__link"
                 href="#" 
                 >Dashboard
              </a>
              <span class="material-icons">
                assessment
              </span>     
            </li>
            <li class="d-flex align-items-center flex-row-reverse nav__item nav--hover">
              <a class="nav__link"
                 href="#" 
                 >Question
              </a>
              <span class="material-icons">
                question_answer
              </span>
            </li>
            <li class="d-flex align-items-center flex-row-reverse nav__item nav--hover">
                <a href="./assignment.html"
                   class="nav__link <%= (title === 'Assignment' ? 'active' : '' ) %>"
                   >
                   Assignment
                </a>
              <span class="material-icons">
                assignment
              </span>
            </li>
            <li class="d-flex align-items-center flex-row-reverse nav__item nav--hover">
                <a class="nav__link"
                     href="#" 
                    >Course
                </a>
              <span class="material-icons">
                video_library
              </span>
            </li>
            <li class="d-flex align-items-center flex-row-reverse nav__item nav--hover">
                <a href="./admin.html"
                   class="nav__link <%= (title === 'Admin' ? 'active' : '' ) %>"
                  >Admin
                </a>
              <span class="material-icons">
                supervisor_account
              </span>
            </li>
            <li class="d-flex align-items-center flex-row-reverse nav__item nav--hover">
                <a class="nav__link"
                   href="#" 
                  >Settings
                </a>
              <span class="material-icons">
                settings
              </span>
            </li>
          </ul>
        </div>
        <div class="user-info d-flex align-items-center">
          <img class="user-info__img" 
               src="./assets/images/andychen.jpeg" 
               alt="user-img">
          <a class="ms-4" href="#">
            <p class="user-info__name mb-1">Andy Chen</p>
            <p class="user-info__email">andy0401@mail.com</p>
          </a>
        </div>
      </div>
     
      
  
      <%- contents %>
    </div>
    
    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script src="./assets/js/all.js"></script>
    

  </body>

</html>