@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import './reset.scss';
@import './base.scss';

@import './layout/aside.scss';
@import './page/assignment';
@import './page/admin';

.fz-12{
    font-size: 12px;
}

.fz-14{
    font-size: 14px;
}

.fz-20{
    font-size: 20px;
}

.fz-24{
    font-size: 24px;
}

.margin-t6{
    margin-top: 6px;
}

.margin-t19{
    margin-top: 19px;
}

.margin-t18{
    margin-top: 18px;
}

.margin-b12{
    margin-bottom: 12px;
}


.padding-b32{
    padding-bottom: 32px;
}

.gray-400{
    color: $gray-400;
}

.gray-600{
    color: $gray-600;
}

.line-height-2{
    line-height: 2;
}

.line-height-1{
    line-height: 1;
}

.border-gray400{
    border: 1px solid $gray-400;
}

.rounded-sm{
    border-radius: 0.125rem;
}

